<app-header></app-header>
<div class="box">
    <div class="p-5">
        <div class="text-center mb-3 cpswd">
            Change Password
        </div>
        <form [formGroup]="CPasswordForm" action="" method="post">
            <div class="input-group mb-3">
                <input class="form-control" type="number" formControlName="Mobile" name="Mobile" placeholder="Mobile Number" required>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="password" formControlName="oldPassword" name="oldPassword" placeholder="OLD PASSWORD" required>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="password" formControlName="newPassword" name="newPassword" placeholder="NEW PASSWORD" required>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="password" formControlName="cPassword" name="cPassword" placeholder="CONFIRM PASSWORD" required>
                <p>{{message}}</p>
            </div>
            <div class="text-right ">
                <button class="btn btn-primary w-100 br-20" type="submit" (click)="Submit();">Change Password </button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
<!-- <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
    </div>
</div> -->