.box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 10px;
}

body {
    background-color: whitesmoke;
}

.paddingbox {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.scroll{
    display: block;
  height: 555px;
  overflow-y: scroll;
  text-align: center;
}

//table-head width
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    min-width: 200px;
}

// .noscoll{
//     overflow: hidden !important;
// }
// table {
//     border-collapse: collapse;
//     width: 100%;
//     text-align:center;
//     display: block;
// }
.table .thead-light tbody {
    max-width: 100%;
    display: block;
 overflow-y: scroll;
//   overflow-x: scroll;
    height: 140px;
}

